# ==========================================
# BOZOR DISTRIBUTOR - SOZLAMALAR NAMUNASI
# ==========================================

# PostgreSQL Baza sozlamalari
DB_USER=postgres
DB_PASSWORD=sizning_maxfiy_baza_parolingiz

# Dasturga kirish uchun 1-Admin login va paroli
APP_USERNAME=admin
APP_PASSWORD=admin_uchun_maxfiy_parol

# Ixtiyoriy 2-Admin login va paroli (agar kerak bo'lsa)
APP_USER2_USERNAME=admin2
APP_USER2_PASSWORD=admin2_paroli

# Sessiya va Remember-Me shifrlash kaliti (Ixtiyoriy ixtiyoriy matn)
REMEMBER_ME_KEY=sizning_ixtiyoriy_uzun_maxfiy_kalitingiz_987654

# HTTPS / SSL xavfsizligi (VPS serverda abul2755.uz HTTPS bilan ishlaganda true qilinadi)
COOKIE_SECURE=true
